<div
  class="user-profile-container"
  fxLayout="column"
  fxLayout.xl="column"
  fxLayoutAlign="space-evenly center"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Profile</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

    <form
      [formGroup]="userProfileForm"
    >
      <div fxLayout="column"
        fxLayoutAlign="space-evenly center"
      >
        <div
          class="user-profile-form-container"
        >
          <mat-form-field class="user-profile-full-width">
            <input
              matInput
              formControlName="displayName"
              placeholder="Display Name"
            >
          </mat-form-field>
          <mat-form-field class="user-profile-full-width">
            <input
              matInput
              formControlName="email"
              placeholder="Email"
            >
          </mat-form-field>
        </div>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <div
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
    >
      <div>
        <button
          (click)="update()"
          [disabled]="!userProfileForm.valid"
          mat-raised-button
          color="accent"
        >
          Login 
        </button>
      </div>
      <div>
        <button
          type="button"
          (click)="resetForm()"
          mat-raised-button
          color="warn"
        >
          Cancel
        </button>
      </div>
    </div>
  </mat-card>
</div>
<div
  class="user-profile-container"
  fxLayout="column"
  fxLayout.xl="column"
  fxLayoutAlign="space-evenly center"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Password</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="userPasswordForm"
      >
        <div fxLayout="column"
          fxLayoutAlign="space-evenly center"
        >
          <div
            class="user-profile-form-container"
          >
            <mat-form-field class="user-profile-full-width">
              <input
                matInput
                type="password"
                formControlName="password"
                placeholder="New Password - Atleast 8 Characters"
              >
            </mat-form-field>
            <mat-form-field class="user-profile-full-width">
              <input
                matInput
                type="password"
                formControlName="confirmPassword"
                placeholder="New Confirm Password - Atleast 8 Characters"
              >
            </mat-form-field>
            <p class="warn" *ngIf="userPasswordForm.errors?.doesMatchPassword">Passwords do not match</p>
            <p class="warn" *ngIf="userPasswordForm.errors?.doesMatchLength">Passwords must be atleast 8 characters</p>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <div
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
    >
      <div>
        <button
          (click)="updatePassword()"
          [disabled]="!userPasswordForm.valid"
          mat-raised-button
          color="accent"
        >
          Sign-up 
        </button>
      </div>
      <div>
        <button
          type="button"
          (click)="resetPasswordForm()"
          mat-raised-button
          color="warn"
        >
          Cancel
        </button>
      </div>
    </div>
  </mat-card>
</div>