<div
  fxLayout="column"
  fxLayoutAlign="space-evenly center"
>
  <div class="user-profile-group-container">
    <mat-tab-group
      [selectedIndex]="selectedTab"
      (selectedIndexChange)="selectedTab=$event"
    >
      <mat-tab [disabled]="disabled">
        <ng-template mat-tab-label>
          Profile
        </ng-template>
        <div *ngIf="isLoading" class="loading-class">
          <mat-spinner color="warn"></mat-spinner>
        </div>
        <div *ngIf="!isLoading">
          <mat-card>
            <mat-card-content>
              <form
                [formGroup]="userProfileForm"
                (submit)="updateUser()"
                appSubmitButton
              >
                <div fxLayout="column"
                  fxLayoutAlign="space-evenly center"
                >
                  <div
                    class="user-profile-form-container"
                  >
                    <mat-form-field class="user-profile-full-width">
                      <input
                        matInput
                        formControlName="displayName"
                        placeholder="Display Name"
                      >
                    </mat-form-field>
                    <mat-form-field class="user-profile-full-width">
                      <input
                        matInput
                        formControlName="email"
                        placeholder="Email"
                      >
                    </mat-form-field>
                    <mat-form-field class="user-profile-full-width">
                      <input
                        matInput
                        formControlName="photoUrl"
                        placeholder="Gravatar Email"
                      >
                    </mat-form-field>
                  </div>
                  <div
                    fxLayout="row"
                    class="button-container"
                    fxLayoutAlign="space-evenly center"
                  >
                    <button
                      type="submit"
                      #submitButton
                      [disabled]="!userProfileForm.valid"
                      mat-raised-button
                      color="accent"
                    >
                      Update 
                    </button>
                    <button
                      type="button"
                      (click)="resetForm()"
                      mat-raised-button
                      color="warn"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Password
        </ng-template>
        <mat-card>
          <mat-card-content>
            <form
              [formGroup]="userPasswordForm"
              (submit)="updatePassword()"
              appSubmitButton
            >
              <div fxLayout="column"
                fxLayoutAlign="space-evenly center"
              >
                <div
                  class="user-profile-form-container"
                >
                  <mat-form-field class="user-profile-full-width">
                    <input
                      matInput
                      type="password"
                      formControlName="password"
                      placeholder="New Password - must be at least 8 Characters"
                    >
                  </mat-form-field>
                  <mat-form-field class="user-profile-full-width">
                    <input
                      matInput
                      type="password"
                      formControlName="confirmPassword"
                      placeholder="New Confirm Password - must be at least 8 Characters"
                    >
                  </mat-form-field>
                  <p class="warn" *ngIf="userPasswordForm.errors?.doesMatchPassword">Passwords do not match</p>
                  <p class="warn" *ngIf="userPasswordForm.errors?.doesMatchLength">Passwords must be at least 8 characters</p>
                </div>
                <div
                  fxLayout="row"
                  class="button-container"
                  fxLayoutAlign="space-evenly center"
                >
                  <button
                    type="submit"
                    #submitButton
                    [disabled]="!userPasswordForm.valid"
                    mat-raised-button
                    color="accent"
                  >
                    Update
                  </button>
                  <button
                    type="button"
                    (click)="resetPasswordForm()"
                    mat-raised-button
                    color="warn"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>