<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <a routerLink="/logout">
        <button 
          mat-menu-item
        >
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>