<div
  class="auth-container"
  fxLayout="column"
  fxLayout.xl="column"
  fxLayoutAlign="space-evenly center"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Login</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

    <form
      [formGroup]="authForm"
      (submit)="authenticate()"
      appSubmitButton
    >
      <div fxLayout="column"
        fxLayoutAlign="space-evenly center"
      >
        <div
          class="auth-form-container"
        >
          <mat-form-field class="auth-full-width">
            <input
              matInput
              formControlName="email"
              placeholder="Email"
            >
          </mat-form-field>
          <mat-form-field class="auth-full-width">
            <input
              matInput
              type="password"
              formControlName="password"
              placeholder="Password"
            >
          </mat-form-field>
        </div>
        <div class="button-container">
          <div
            fxLayout="row"
            fxLayoutAlign="space-evenly center"
          >
            <button
              type="submit"
              #submitButton
              [disabled]="!authForm.valid"
              mat-raised-button
              color="accent"
            >
              Login 
            </button>
            <button
              type="button"
              (click)="resetForm()"
              mat-raised-button
              color="warn"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <div class="signup">
      Not a user? <a routerLink="/signup" class="accent">Sign-up today</a>
    </div>
  </mat-card>
</div>