.auth-container {
  margin: 50px;
}

.auth-form-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.auth-full-width {
  width: 100%;
}

.button-container {
  width: 100%;
  margin: 25px;
}

mat-card {
  width: 550px;
}

.signup {
  text-align: center;
}